@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');



.container{
    max-width: $inner_width;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.btn{
    background-color: $bg-btn;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
