@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Code Pro', monospace;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 12px;
	@include max(1200px) {
		max-width: 100%;
	}
	&--sm {
		max-width: 920px;
	}
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
img {
	max-width: 100%;
	object-fit: cover;
}




