* {
  margin: 0;
  padding: 0;
}
.inner__width {
  max-width: 1200px;
  margin: 0 auto
}
ul{
    list-style: none;
}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";
@import "layout/hero-section";
