// .blog__cards {
// 	display: grid;
// 	grid-gap: 30px;
// 	grid-template-columns: repeat(3, 1fr);

// 	@include max(1200px) {
// 		grid-template-columns: repeat(2, 1fr);
// 	}

// 	@include max(575px) {
// 		grid-template-columns: 1fr;
// 	}

// 	&--single {
// 		background-color: #fff;
// 		&-top {
// 			width: 100%;
// 			height: 135.5px;
// 			@include max(1200px) {
// 				height: 240px;
// 			}
// 			img {
// 				height: 100%;
// 				width: 100%;
// 			}
// 		}
// 		&-body {
// 			padding: 5px 10px 15px 20px;
// 			small {
// 				font-family: 'Nunito Sans', sans-serif;
// 				font-weight: 400;
// 				font-size: 12px;
// 				line-height: 19px;
// 				color: #545454;
// 			}
// 			h3 {
// 				font-family: 'Montserrat', sans-serif;
// 				font-weight: bold;
// 				font-size: 19px;
// 				line-height: 26px;
// 				padding: 10px 0;
// 			}
// 			p {
// 				font-family: 'Nunito Sans', sans-serif;
// 				font-weight: 400;
// 				font-size: 16px;
// 				line-height: 26px;
// 				text-transform: lowercase;
// 			}
// 			.btn {
// 				margin: 20px 0;
// 			}
// 		}
// 	}
// }
