.blog-section{
    &__title{
        padding: 30px 0;
        width: 60%;
        p{
            padding-top:30px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
        }
    }
    .blog__cards-wrap{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:30px;
        .blog__card{
            background-color: #ffffff;
            &-thumb{
                width: 100%;
                height: 125px;
                a{
                    width: 100%;
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
            }
            &-content{
                sm
            }
        }
    }
}