.blog-section{
    &__title{
        padding: 30px 0;
        width: 60%;
        @include max(768px){
            width: 80%;
        }
        @include max(540px){
            width: 100%;
        }
        p{
            padding-top:30px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
        }
    }
    .blog__cards-wrap{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:20px;
        @include max(767px){
            grid-gap:15px;
            grid-template-columns: 1fr 1fr;
        }
        
        @include max(525px){
            grid-template-columns: 1fr;
            grid-gap:30px;
        }
        
        .blog__card{
            
            background-color: #ffffff;
            &-thumb{
                width: 100%;
                height: 150px;
                
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                       
                    }
                }
                @include max(525px){
                    height: 170px;
                    
                }
            }
            &-content{
                padding: 10px 15px;
                small{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 19px;
                    color: #545454;
                    padding: 10px 0;
                    display: block;
                }
                a{
                    h3{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 19px;
                        line-height: 30px;
                        color:#000;
                        padding: 10px 0;
                    }
                }
                p{
                    font-family:'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                    text-transform: lowercase;
                }
            }
        }
    }
}