.btn {
	background-color: $bg-btn;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	transition: all ease 0.3s;
	width: 175px;
	height: 46px;
	text-align: center;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 45px auto;
	&:hover {
		background-color: #000;
	}
}
