.about__section{
    background-image: url("../images/img/about-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    .ad__card__section{
    display: flex;
    padding: 0 120px;
    justify-content: space-between;
    margin-top: -40px;
    z-index: 1000;
    .card{
        max-width: 460px;
        height: 400px;
        padding: 60px;
        color: #fff;
        text-align: center;
        z-index: 1000;
        .card-title{
            font-weight: 500;
        }
        .card-text{
            font-weight: 400;
        }
        &--one{
            background-image: url("../images/img/membership-bg.png");
        }
        &--two{
            background-image: url("../images/img/working-space-bg.png");
        }
    }
    
}
}
