.about{
    background-image: url("../images/img/about-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    z-index: 1;
    .about__card__wrapper{
        display: flex;
        justify-content: space-between;
        .single__card{
            height: 400px;
            width: 48%;
            padding: 60px;
            color: #fff;
            text-align: center;
            margin-top: -60px;
            z-index: 10;
            .single__card__title{
                font-family: 'Source Code Pro', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 140%;
                margin: 10px 0px;
            }
            .single__card__text{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: center;
                    color: #FFFFFF;
            }
            .single__card__btn{
                .btn--card{
                    margin-top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 45px auto;
                }
            }
        }
    }
    .about__content{
        display: flex;
        padding-bottom: 60px;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        z-index: -1;
        &--left{
            width: 48%;    
            .about__content__description{
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                padding-top: 15px;
                font-size: 16px;
                line-height: 160%;
                z-index: 1;
                p{
                    &:first-child{
                    margin-bottom: 10px;
                }
            }
            }
            .about__content__signature{
                margin-top: 46px;
            }
        }
        &--right{
            width: 48%;
            img{
                width: 100%;
            }
        }
        
    }
}
