.about-section{
    .about-section__cards{
    display: flex;
    justify-content: space-between;
        .about__cards-single{
            flex: 0 0 48%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-icon{
                padding-top: 45px;
            }
            &-content{
                text-align: center;
                padding: 0 60px;
                h2{
                    padding: 10px 0;
                }
            }
        }
    }
    .about__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 50px;
        color: #fff;
        &-left, &-right{
            flex: 0 0 48%;
        }
        &-left {
            .section__title{
                color: #fff;
                &::after{
                    background: #fff;
                }
            }
            .about__content__description{
                padding-top: 25px;
                padding-bottom: 45px;
                p{
                    font-family: 'Nunito', sans-serif;
                    font-size: 16px;
                    line-height: 26px;
                    &:last-child{
                    padding-top: 25px;
                }
                }
            }
    }
    }
}