.about-section{
    .about-section__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -80px;
    @include max(767px){
        flex-direction: column;
        margin-top: 0px;
    }
        .about__cards-single{
            flex: 0 0 48%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 450px;
            @include max(767px){
                margin-bottom: 20px;
            }
            &-icon{
                padding-top: 45px;
            }
            &-content{
                text-align: center;
                padding: 0 60px;
                @include max(991px){
                    padding: 0 10px;
                }
                h2{
                    padding: 10px 0;
                }
                p{
                    font-family:"Nunito", sans-serif;
                    font-size: 16px;
                    line-height: 160%;
                }
                .btn-card{
                    margin: 30px 0px;
                }
            }
        }
    }
    .about__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 50px;
        color: #fff;
        flex-wrap: wrap;
        @include max(767px){
            flex-direction: column-reverse;
        }
        &-left, &-right{
            flex: 0 0 48%;
            @include max(767px){
                flex: 0 0 100%;
            }
        }
        &-left {
            .section__title{
                color: #fff;
                &::after{
                    background: #fff;
                }
            }
            .about__content__description{
                padding-top: 25px;
                padding-bottom: 45px;
                p{
                    font-family: 'Nunito', sans-serif;
                    font-size: 16px;
                    line-height: 26px;
                    &:last-child{
                    padding-top: 25px;
                }
                }
            }
    }
    }
}