.about-section{
    .about-section__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max(767px){
        flex-direction: column;

    }
        .about__cards-single{
            flex: 0 0 48%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -100px;
            height: 370px;
            @include max(767px){
                margin-top: 0px;
                margin-bottom: 20px;
            }
            &-icon{
                padding-top: 45px;
            }
            &-content{
                text-align: center;
                h2{
                    padding: 10px 0;
                    font-family: 'Source Code Pro', monospace;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                }
                p{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    padding: 0 20px;
                    @include max(767px){
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    .about__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 50px;
        color: #fff;
        flex-wrap: wrap;
        @include max(767px){
            flex-direction: column-reverse;
        }
        &-left, &-right{
            flex: 0 0 48%;
            @include max(767px){
                flex: 0 0 100%;
            }
        }
        &-left {
            .section__title{
                color: #fff;
                padding: 10px 0;
                &::after{
                    background: #fff;
                }
            }
            .about__content__description{
                padding-top: 25px;
                padding-bottom: 45px;
                p{
                    font-family: 'Nunito', sans-serif;
                    font-size: 16px;
                    line-height: 26px;
                    &:last-child{
                    padding-top: 25px;
                }
                }
            }
    }
    }
}