.about__section{
    background-image: url("../images/img/about-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    .ad__card__section{
        display: flex;
        padding: 0 120px;
        justify-content: space-between;
        
        .card{
            max-width: 460px;
            height: 400px;
            padding: 60px;
            color: #fff;
            text-align: center;
            margin-top: -60px;
            z-index: 1000;
            .card__title{
                font-family: Source Code Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 140%;
                margin-bottom: 10px;
            }
            .card__text{
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
            }
            .btn--card{
                padding: 17px 66px;
                margin-top: 25px;
            }
            &--one{
                background-image: url("../images/img/membership-bg.png");
                z-index: 1000;
            }
            &--two{
                background-image: url("../images/img/working-space-bg.png");
                z-index: 1000;
            }
        }
    }
    .about__section__details{
        display: flex;
        padding: 0 120px;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        &--left{
            max-width: 460px;
            .section__title{
                font-family: Source Code Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 140%;
                margin-bottom: 25px;                
                h2{
                    padding-bottom: 5px;
                    &::after{
                        content: "";
                        display: block;
                        clear: both;
                        width: 30px;
                        height: 4px;
                        background: #fff;
                    }
                }
            }
            .section__description{
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                &--one{
                    margin-bottom: 25px;
                }
                &--two{
                    margin-bottom: 45px;
                }
            }
        }
        &--right{
            max-width: 460px;
        }
        
    }
}
