.about__section{
    background-image: url(../../images/img/about-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    .ad__card__section{
    display: flex;
    justify-content: center;
    .card{
        max-width: 460px;
        height: 400px;
        &--one{
        background-image: url(../../images/img/membership-bg.png);
    }
    }
    
}
}
