.feature_section{
    background-color: #F5F5F5;
}
.feature__content{
    padding: 50px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &--left, &--right{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            padding: 10px 50px;
    }
}