.feature{
    .container{
        background-color: #ffffff;
    }
    &__content{
        
        @include max(768px){
            padding: 25px 30px;
        }
        
       
        position: relative;
        margin-top: -54px;
        @include max(912px){
            margin-top: -35px;
        }
        @include max(768px){
            margin-top: 0;
        }
        &-top{
            width: 80%;
            @include max(912px){
                width: 100%;
            }

            p{
                padding-bottom: 30px;
                padding-right: 30px;
                @include max(412px){
                    padding-right: 0; 
                }
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
        }
        &-list{
            ul {
                column-count: 2;
                @include max(767px){
                    column-count: 1;
                }
                li{
                    line-height: 25px;
                    display: flex;
                    position: relative;
                    left:13px;
                    padding: 10px 10px;
                    span{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 26px;
                    }
                    @include max(768px){
                        padding: 5px 0;
                        left:30px;
                    }
                    line-height: 25px;
                    img{
                        position: absolute;
                        left: -15px;
                        @include max(768px){
                            left: -30px;
                        }
                        
                    }
                }
            }
           
        }
    }
}