.feature__wrapper {
	background-color: #ffffff;
	padding-top: $padding_top;
	padding-bottom: $padding_bottom;
	position: relative;
	top: -64px;
	.feature__top {
		p {
			font-family: 'Nunito Sans', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #000;
			width: 467px;
			max-width: 100%;
			padding-bottom: 20px;
		}
	}
	.feature__bottom {
		ul li {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 10px 10px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 16px;
			line-height: 26px;
			img {
				margin-right: 10px;
			}
		}
	}
}

.blog__wrapper {
	.blog__top {
		p {
			padding: 40px 0;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 26px;
			width: 360px;
			max-width: 100%;
		}
	}
}
.blog {
	padding-bottom: 50px;
	position: relative;
	.vector_img {
		position: absolute;
		right: 120px;
		bottom: 0;
	}
}
