.footer__section{
    background: #121212;
    padding-top: 75px ; 
    min-height: 525px;
    position: relative;
    .footer__widget{
        color: #fff;
        display: flex;
        padding: 0 120px;
        justify-content: space-between;
        .footer__widget__title{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            padding-bottom: 45px;
        }
        .footer__widget__text{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            
        }
        &--three{
            .footer__widget__text{
                .footer__form{
                    input{
                        width: 100%;
                        display: block;
                        padding: 12px 20px;
                        margin-top: 20px;
                    }
                }
            }
        }
        &--four{
            .footer__widget__text{
                ul{
                    display: flex;
                    li{
                        padding-right: 25px;
                    }
                }
                
            }
        }
    }
    .footer__left__svg{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .footer__right__svg{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}