.footer__section{
    background: #121212;
    padding-top: 75px ; 
    min-height: 525px;
    .footer__widget{
        color: #fff;
        display: flex;
        padding: 0 120px;
        justify-content: space-between;
        .footer__widget__title{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            padding-bottom: 45px;
        }
        .footer__widget__text{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            
        }
        &--four{
            .footer__widget__text{
                ul{
                    display: flex;
                    li{
                        padding-right: 25px;
                    }
                }
            }
        }
    }
}