.footer{
    background: #000;
    .footer__widgets{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 75px 0;
        .footer__widget-item{
            flex: 0 0 25%;
            color: #fff;
            margin-bottom: 30px;
            @include max(991px){
                flex: 0 0 50%;
            }
            @include max (525px){
                flex: 0 0 100%;
            }
            .footer__widget__title{
                font-size: 18px;
                line-height: 23px;
                padding-bottom: 45px;
                @include max(991px){
                    padding-bottom: 15px;
                }
            }
            .footer__widget__text{
                font-size: 16px;
                line-height: 26px;
                p{
                    
                    &:first-child{
                        padding-bottom: 10px;
                    }
                }
                form{
                    input, button{
                        display: block;
                        width: 100%;
                    }
                    .submit-btn{
                        margin: 0;
                    }
                }
            }
            .footer-social{
                    ul{
                        display: flex;
                        li{
                            padding-right: 25px;
                        }
                    }
                }
        }
    }
}