.footer{
    background: #121212;
    padding-top: 75px ; 
    min-height: 525px;
    position: relative;
    .footer__widgets{
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        .footer__widget__title{
            font-family: 'Source Code Pro', monospace;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            padding-bottom: 45px;
        }
        .footer__widget__text{
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            
        }
        .footer__widget--three{
            .footer__widget__text{
                .footer__form{
                    input{
                        width: 100%;
                        display: block;
                        padding: 12px 20px;
                        margin-top: 20px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .footer__widget--four{
            .footer__widget__text{
                ul{
                    display: flex;
                    li{
                        padding-right: 25px;
                    }
                }
                
            }
        }
    }
    .footer__svg{
        position: absolute;
        user-select: none;
        &--left{
            left: 0;
            bottom: 0;
        }
        &--right{
            right: 0;
            bottom: 0;
        }
    }
}