.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;    
    .header__top{
        background: rgba(39, 39, 39, 0.67);    
    .header__top-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left{
        ul{
            display: flex;
            align-items: center;
            li{
                padding-right: 36px; 
                @include max(991px){
                    padding-right: 5px;
                }              
                &:last-child{
                    padding-right: 0px;
                    @include max(620px){
                        display: none;
                    }
                    @include max(525px){
                        display: none;
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    @include max(400px){
                        font-size: 12px;
                    }
                    img{
                        padding-right: 18px;
                        @include max(767px){
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
    &-right{
        display: flex;
        align-items: center;
        .social-icon{
            display: flex;
            align-items: center;
            li{
                padding-right: 10px;
                @include max(767px){
                    padding-right: 5px;
                }
                :first-child{
                    @include max(620px){
                        display: none;
                    }
                }
            }
        }
        .btn-membership{
            font-family: 'Montserrat' sans-serif;
            font-weight: bold;
            font-size: 12px;
            line-height: 19px;

            margin: 0;
            color: #000;
            background: #fff;
            @include max(480px){
                width: 150px;
            }
        }
    }
}
    .header__nav-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        position: relative;
        .header__nav-logo{
            @include max(767px){
                a{
                    img{
                        width: 70%;
                    }
                }
            }
        }
        #navbar-icon{
            color: #fff;
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 3px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            i{
                font-size: 24px;
            }
            @include max(991px){
                display: block;
            }
        }
        .header__nav-menu{
            display: block;
            @include max(991px){
                display: none;
            }
            ul{
                display: flex;
                
                @include max(991px){
                    flex-direction: column;
                    position: absolute;
                    background-color: #fff;
                    padding: 20px 0;
                    top: 100px;
                    left: 0;
                    right: 0;
                    li{
                        padding: 10px 0;
                        text-align: center;
                        a{
                            color: #000;
                        }
                    }
                }
                li{
                    padding-right: 20px;
                    
                    &:last-child{
                        padding-right: 0px;    
                    }
                    
                }  
            }
        }
    }
        
}