@import "header-top";

.hero__section{
    background-image: url(../images/img/Banner-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
