.header__top__bg {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
  .header__top {
    display: flex;
    justify-content: space-between;
    .header__top__left {
      display: flex;
      align-items: center;
      h6 {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-right: 15px;
        color: #fff;
        font-weight: 400;
        line-height: 19.6px;
        img {
          padding-right: 22px;
        }
      }
    }
    .header__top__right {
      display: flex;
      align-items: center;
      .social__icon {
        padding-right: 22px;
        ul {
          list-style: none;
          li {
            display: inline-block;
            a {
              text-decoration: none;
              margin-right: 11.5px;
            }
          }
        }
      }
      .join__membership {
        background-color: #fff;
        padding: 15px;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #121212cc;
          font-size: 12px;
          line-height: 19px;
          font-weight: 700;
          img {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
