.header {
	width: 100%;
	position: absolute;
	.header__top__bg {
		background: rgba(39, 39, 39, 0.67);
		width: 100%;
		.container {
			padding: 0;
			.header__top {
				display: flex;
				justify-content: space-between;
				.header__top__left {
					display: flex;
					align-items: center;
					h6 {
						display: flex;
						align-items: center;
						font-size: 14px;
						padding-right: 15px;
						color: #fff;
						font-weight: 400;
						line-height: 19.6px;
						img {
							padding-right: 22px;
						}
					}
				}
				.header__top__right {
					display: flex;
					align-items: center;
					.social__icon {
						padding-right: 22px;
						ul {
							list-style: none;
							li {
								display: inline-block;
								a {
									text-decoration: none;
									margin-right: 11.5px;
								}
							}
						}
					}
					.join__membership {
						a {
							background-color: #fff;
							height: 50px;
							width: 200px;
							display: flex;
							align-items: center;
							justify-content: center;
							text-decoration: none;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							color: #121212cc;
							font-size: 12px;
							line-height: 19px;
							font-weight: 700;
							img {
								padding-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}

.header__navbar {
	.container {
		padding: 0;

		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 35px 0;
			.logo {
				.nav_icon {
					display: none;
				}
			}
			.mobile_menu {
				display: none;
			}
			.menu {
				display: block;
				ul {
					list-style: none;
					li {
						display: inline-block;
						a {
							text-decoration: none;
							font-size: 16px;
							line-height: 22px;
							color: #fff;
							font-weight: 400;
							padding: 20px;

							&:last-child {
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

// .header {
// 	// contact bar
// 	&__top {
// 		&-left {
// 		}
// 		&-right {
// 		}
// 	}

// 	// Navbar {
// 	&__nav {
// 		&-logo {
// 		}
// 		&-menu {
// 		}
// 		&-mobile {
// 		}
// 	}
// }
