.banner-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
    .header__top{
        background: rgba(39, 39, 39, 0.67);
        @include max(575px){
            display: none;
        }
    .header__top-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        @include max(767px){
            flex-direction: column;
        }
    }
    &-left{
        ul{
            display: flex;
            align-items: center;
            li{
                padding-right: 36px;
                
                &:last-child{
                    padding-right: 0px;
                }
                a{
                    display: flex;
                align-items: center;
                    img{
                        padding-right: 18px;
                    }
                }
            }
        }
    }
    &-right{
        display: flex;
        align-items: center;
        .social-icon{
            display: flex;
            align-items: center;
            li{
                padding-right: 10px;
                
            }
        }
    }
}
    .header__nav-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        position: relative;
        #navbar-icon{
            color: #fff;
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 2px 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            @include max(991px){
                display: block;
            }
        }
        .header__nav-menu{
            display: block;
            @include max(991px){
                display: none;
            }
            ul{
                display: flex;
                
                @include max(991px){
                    flex-direction: column;
                    position: absolute;
                    background-color: #fff;
                    top: 100px;
                    left: 0;
                    right: 0;
                    li{
                        padding: 10px 0;
                        text-align: center;
                        a{
                            color: #000;
                        }
                    }
                }
                li{
                    padding-right: 20px;
                    
                    &:last-child{
                        padding-right: 0px;    
                    }
                    
                }  
            }
        }
    }
        
}