.hero-section{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-section__content{
        padding-top: 120px;
        padding-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        h1{
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 80px;
            line-height: 112px;
            text-align: center;
            @include max(767px){
                font-size: 64px;
            }
            @include max(525px){
                font-size: 56px;
                line-height: 64px;
            }
            @include max(480px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        h3{
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 33px;
            line-height: 46px;
            text-align: center;
            @include max(767px){
                font-size: 28px;
            }
            @include max(480px){
                font-size: 20px;
            }
        }
        p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 21px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 30px;
            @include max(767px){
                font-size: 18px;
                br{
                    display: none;
                }
            }
            @include max(480px){
                font-size: 16px;
                
            }
        }
    }
    .swiper-pagination{
        bottom: 100px;
    }
}