@import "header-top";
@import "navbar";

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  min-height: 1100px;
  // height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  .hero__content {
    .hero__title {
      font-size: 80px;
      font-weight: 700;
      line-height: 112px;
    }
    .hero__sub__title {
      font-size: 33px;
      line-height: 46px;
      font-weight: 700;
    }
    .hero__text {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }

    .hero__btn__wrapper {
      margin: 25px 0;
      text-align: center;
      .btn--meet-our-team {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}
