.hero-section{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-section__content{
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        h1{
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 80px;
            line-height: 112px;
        }
        h3{
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            font-size: 33px;
            line-height: 46px;
        }
        p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 21px;
            line-height: 29px;
        }
    }
}