.header__navbar{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
       .logo{
           .nav_icon{
               display: none;
           }
       }
       .mobile_menu{
        display: none;
    }
        .menu{
            display: block;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 22px;
                        color: #fff;
                        font-weight: 400;
                        padding: 20px;
                       
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                }
            }
        }
      
    }
}