.header__navbar{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;
        .menu{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 22px;
                        color: #fff;
                        font-weight: 400;
                        padding: 20px;
                        &:first-child{
                            font-weight: 600;
                        }
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}