.partner{
    background: #fff;
    .partner__brands-wrap{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        flex-wrap: wrap;
<<<<<<< HEAD
        @include max(525px){

        }
=======
>>>>>>> 44b32e46ffa33b0ac0a51db53f8012fd15637168
        @include max(480px){
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }
        .partner__brands-item{
            margin-bottom: 20px;
            flex: 0 0 25%;
            a{
                display: block;
                text-align: center;
                padding: 0 10px;
            }
            @include max(525px){
                flex: 0 0 50%;
                text-align: center;
            }
            align-self: flex-end;
            @include max(480px){
                align-self: center;
            }
            
        }
    }
}