.partner{
    background: #fff;
    .partner__brands-wrap{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        flex-wrap: wrap;
        @include max(525px){

        }
        @include max(480px){
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }
        .partner__brands-item{
            margin-bottom: 20px;
            flex: 0 0 25%;
            align-self: flex-end;
            @include max(480px){
                align-self: center;
            }
        }
    }
}