.partner{
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    &__brands{
        display: grid;
        grid-gap:20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        &--single{
            width: 150px;
            height: 150px;
            padding-top: 50px;
            text-align: center;
           img{
               height: 50px;
           }
        }
    }
    
}