@media all and (max-width: 1160px){
	.header__navbar{
        .navbar{
            padding: 30px 50px;
        }
}
}
@media screen and (max-width: 768px) {

  
    .header__navbar{
        .navbar{
            padding: 30px 50px;
        .menu{
            display: none;
        }
        .logo{
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .nav_icon{
                background-color: #fff;
                padding: 4px;
                border-radius: 4px;
                -webkit-transition: .5s;
                transition: .5s;
                display: block;
                float: right;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .mobile_menu {
            width: 100%;
            background: #FFF;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            position: absolute;
            top: 70%;
            left: 0;
            z-index: 9999;
        }
        .mobile_menu ul li a {
            color: #28293E;
            padding: 10px 10px;
            display: block;
            font-weight: 600;
        }
}
    }
    .about__section{
        width: 100%;
        .ad__card__section{
        flex-direction: column;
        padding: 0 20px;
        .card{
            width: 300px;
            padding: 10px;
            margin-top: 0px;
            margin: 10px 0;
        }
    }
    .about__section__details{
        flex-direction: column-reverse;
        padding: 0 20px;
    }
    }
    .feature__area p{
        padding: 10px;
        width:100%;
    }
    .feature__area_content{
        display: flex;
        flex-wrap: wrap;
    }
    .feature__area_content--left, .feature__area_content--right {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding: 10px;
    }
    .feature__area_content--left{
        padding-bottom: 0;
    }
    .feature__area_content--right{
        padding-top: 0;
    }
    .blog_area .blog_top_text h2, .blog_area .blog_top_text p{
        padding: 0;
    }
    .blog_area .blog_top_text p {
        width: 100%;
    }
    .blog_area .blog_cards{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
    .blog_area .blog_cards_1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .blog_area .blog_cards .mx {
        margin: 30px 0;
    }
    .blog_section .vector_img {
        right: 25px;
    }
    .partner__section{
    padding: 30px 0;
    .partner__section__content{
        padding: 0 20px;
        .partner__brand__images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            align-self: center;
            img{
                margin: 15px 0;
            }
        }  
    }
    }
    
}
.footer__section{
    width: 100%;
    .footer__widget{
        padding: 0px 20px;
        flex-direction: column;
        .footer__widget__title{
            padding-bottom: 10px;
        }
        &--one, &--two, &--three, &--four{
        margin-bottom: 20px;
    }
    }
    
}
}

@media screen and (max-width: 425px) {
    .hero__section {
        background-image: url(../images/img/Banner-bg.png);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .header__top__bg {
        background: rgba(39, 39, 39, 0.67);
        width: 100%;
        padding: 20px 0;
        .header__top {
          display: flex;
        flex-direction: column;
          .header__top__left {
            display: flex;
            align-items: center;
            flex-direction: column;
            h6 {
              display: flex;
              align-items: center;
              font-size: 14px;
              padding-right: 15px;
              color: #fff;
              font-weight: 400;
              line-height: 19.6px;
              margin: 5px 0;
              img {
                padding-right: 22px;
              }
            }
          }
          .header__top__right {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 5px 0;
            .social__icon {
              padding-right: 0px;
              margin-bottom: 10px;
              ul {
                list-style: none;
                li {
                  display: inline-block;
                  a {
                    text-decoration: none;
                    margin-right: 11.5px;
                  }
                }
              }
            }
            .join__membership {
              background-color: #fff;
              padding: 15px;
              a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #121212cc;
                font-size: 12px;
                line-height: 19px;
                font-weight: 700;
                img {
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
      
    .header__navbar{
        .navbar{
           padding: 30px 30px; 

            .mobile_menu {
                top: 30%;
            }
        }
    }
    .about__section__details {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 25px 20px;
    }

    .about__section .ad__card__section .card {
        width: 100%; 
        margin: 0 auto;
        padding: 10px;
        margin-top: 0px;
        margin: 10px 0;
    }
}