@media all and (max-width: 1160px) {
  .header__navbar {
    .navbar {
      padding: 30px 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header__navbar {
    .navbar {
      padding: 30px 50px;
      .menu {
        display: none;
      }
      .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_icon {
          background-color: #fff;
          padding: 4px;
          border-radius: 4px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          display: block;
          float: right;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .mobile_menu {
        width: 100%;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 0;
        z-index: 9999;
      }
      .mobile_menu ul li a {
        color: #28293e;
        padding: 10px 10px;
        display: block;
        font-weight: 600;
      }
    }
  }
  .about__section {
    width: 100%;
    .ad__card__section {
      display: flex;
      padding: 0 20px;
      .card--one,
      .card--two {
        flex: 0 0 50%;
        padding: 10px;
        margin: 10px 5px;
      }
    }
    .about__section__details {
        padding: 40px 20px;
        flex-direction: column-reverse;
    }
  }
  .feature__section {
      .feature__area{
          top: -35px;
          p {
        padding: 10px;
        width: 100%;
    }
}
}
  .feature__area 
  .feature__area_content {
    display: flex;
    flex-wrap: wrap;
  }
  .feature__area_content--left,
  .feature__area_content--right {
    flex: 0 0 50%;
    padding: 10px;
  }

  .blog_area .blog_top_text h2,
  .blog_area .blog_top_text p {
    padding: 0;
  }
  .blog_area .blog_top_text p {
    width: 100%;
  }
  .blog_area .blog_cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .blog_area .blog_cards_1 {
    flex: 0 0 48%;
    margin-bottom: 20px;
  }
  .blog_area .blog_cards .mx {
    margin: 0;
  }
  .blog_section .vector_img {
    right: 25px;
  }
  .partner__section {
    padding: 30px 0;
    .partner__section__content {
      padding: 0 20px;
      .partner__brand__images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
          align-self: center;
          img {
            margin: 15px 0;
          }
        }
      }
    }
  }
  .footer__section {
    width: 100%;
    .footer__widgets {
      padding: 0px 20px;
      grid-template-columns: 1fr 1fr;
      .footer__widget__title {
        padding-bottom: 10px;
      }
      &--one,
      &--two,
      &--three,
      &--four {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .hero__section {
    background-image: url(../images/img/Banner-bg.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .hero__content{
        .hero__title{
            font-size: 60px;
            line-height: 80px;
        }
    }
  }
  .header__top__bg {
    background: rgba(39, 39, 39, 0.67);
    width: 100%;
    padding: 20px 0;
    .header__top {
      display: flex;
      flex-direction: column;
      .header__top__left {
        display: flex;
        align-items: center;
        flex-direction: column;
        h6 {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding-right: 15px;
          color: #fff;
          font-weight: 400;
          line-height: 19.6px;
          margin: 5px 0;
          img {
            padding-right: 22px;
          }
        }
      }
      .header__top__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 5px 0;
        .social__icon {
          padding-right: 0px;
          margin-bottom: 10px;
          ul {
            list-style: none;
            li {
              display: inline-block;
              a {
                text-decoration: none;
                margin-right: 11.5px;
              }
            }
          }
        }
        .join__membership {
          background-color: #fff;
          padding: 15px;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #121212cc;
            font-size: 12px;
            line-height: 19px;
            font-weight: 700;
            img {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  .header__navbar {
    .navbar {
      padding: 30px 30px;
      .mobile_menu {
        top: 80%;
      }
    }
  }
  .about__section {
    width: 100%;
    .ad__card__section {
      display: flex;
      padding: 0 20px;
      flex-wrap: wrap;
      .card--one,
      .card--two {
        flex: 0 0 100%;
        padding: 10px;
        margin: 10px 5px;
      }
    }
  }
  .about__section__details {
    flex-direction: column-reverse;
    padding: 25px 20px;
  }

  .feature__section .feature__area {
    padding: 0px; 
    background-color: #ffffff;
    top: -25px;
  }
  .feature__section .feature__area p {
    padding: 10px 50px;
   width: 100%; 
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
  }
  .feature__section .feature__area_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  .feature__area_content--left,
  .feature__area_content--right {
    flex: 0 0 100%;
    padding: 10px;
  }
  .feature__area_content--left {
    padding-bottom: 0;
  }
  .feature__area_content--right {
    padding-top: 0;
  }
  .blog_area {
      padding: 10px;
  .blog_cards {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 0px 10px;
  }
}
  .blog_area .blog_cards_1 {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .blog_area .blog_cards .mx {
    margin-bottom: 20px;
  }
  .footer__section {
    width: 100%;
    .footer__widgets {
      padding: 0px 20px;
      grid-template-columns: 1fr;
      .footer__widget__title {
        padding-bottom: 10px;
      }
      &--one,
      &--two,
      &--three,
      &--four {
        margin-bottom: 20px;
      }
    }
      .footer__svg{
          img{
              user-select: none
          };
        &--left{
            top: 0;
            left: 0;
        }
    }
  }
  
}
