/* Medium Layout: 1280px. */

@media only screen and (max-width: 1200px) {

}

/* Tablet Layout: 768px. */

@media only screen and (max-width: 991px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
        padding:0 20px;
    }
    // About Section Start
    .about{
      .about__card__wrapper{
        .single__card{
          padding: 20px;
        }
      }
        .about__content{
         
                .about__content__signature{
                    margin-top: 46px;
                }
            }    
        }
    // About Section End
    .blog {
      margin-top: -30px;
    }
    .blog__wrapper .blog__top p {
      padding: 20px 0;
      width: 100%;
    }
    .blog__wrapper .blog__cards {
      grid-template-columns: 1fr 1fr;
      &--single-body{
        padding-bottom: 15px;
      }
    }
  .feature__wrapper{
    padding: 30px 10px;
    .feature__top p {
      padding: 15px;
    }
  }
  .partner{
    &__brands{
        display: grid;
        grid-gap:20px;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        &--single{
          text-align: center;
          margin: 0 auto;
      }
    }
    .footer{
    .footer__widgets{
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        .footer__widget__title{
            padding-bottom: 15px;
        }
    }
}
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
    padding:0 20px;
}
// About Section Start
.about{
    .about__card__wrapper{
        flex-direction: column;
        .single__card{
            width: 100%;
            padding: 25px 30px;
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
    .about__content{
        flex-direction: column-reverse;
        margin-bottom: 20px;
        &--left{
            width: 100%;  
            
            }
            .about__content__signature{
                margin-top: 46px;
            }
        }
        &--right{
            width: 100%;
            img{
                width: 100%;
            }
        }
        
    }
}
// About Section End
// feature section
.feature__wrapper{
  padding: 30px 10px;
  .feature__top p {
    padding: 15px;
  }
}

.blog {
  margin-top: -30px;
}
.blog__wrapper .blog__top p {
  padding: 20px 0;
  width: 100%;
}
.blog__wrapper .blog__cards {
  grid-template-columns: 1fr;
  &--single-body{
    padding-bottom: 15px;
  }
}
.vector_img{
  display: none;
}
//partner section
.partner{
  &__brands{
      display: grid;
      grid-gap:20px;
      grid-template-columns: 1fr 1fr ;
      justify-content: center;
      &--single{
        text-align: center;
        margin: 0 auto;
    }
  }
  
} 
    .footer{
    background: #121212;
    padding-top: 75px ; 
    min-height: 525px;
    position: relative;
    .footer__widgets{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        .footer__widget__title{
            font-family: 'Source Code Pro', monospace;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            padding-bottom: 45px;
        }
        .footer__widget__text{
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            
        }
        .footer__widget--three{
            .footer__widget__text{
                .footer__form{
                    input{
                        width: 100%;
                        display: block;
                        padding: 12px 20px;
                        margin-top: 20px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .footer__widget--four{
            .footer__widget__text{
                ul{
                    display: flex;
                    li{
                        padding-right: 25px;
                        &:last-child{
                            padding-right: 0px;
                        }
                    }
                }
                
            }
        }
    }
    .footer__svg{
        position: absolute;
        user-select: none;
        &--left{
            left: 0;
            bottom: 0;
        }
        &--right{
            right: 0;
            bottom: 0;
        }
    }
}
}  

/* Wide Mobile Layout: 480px. */

@media only screen and (max-width: 480px) {
  .container{
    max-width: 100%;
    margin: 0 auto;
    padding:0 20px;
}

// About Section Start
.about{
    .about__card__wrapper{
        flex-direction: column;
        .single__card{
            width: 100%;
            padding: 5px 10px;
            margin-top: 0px;
        }
    }
    .about__content{
        flex-direction: column-reverse ;
        &--left{
            width: 100%;  
            .about__section__title{
                h2{
                    &::after{
                        background: #fff;
                    }
                }
            }  
            .about__content__signature{
                margin-top: 46px;
            }
        }
        &--right{
            width: 100%;
        }
        
    }
}
// About Section End

//feature section
.feature__wrapper{
  padding: 30px 10px;
  .feature__top p {
    padding: 15px;
  }
}
// blog section
.blog {
  margin-top: -30px;
}
.blog__wrapper .blog__top p {
  padding: 20px 0;
  width: 100%;
}
.blog__wrapper .blog__cards {
  grid-template-columns: 1fr;
  &--single-body{
    padding-bottom: 15px;
  }
}
.vector_img{
  display: none;
}
// partner section
.partner{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 34px;
  &__brands{
      display: grid;
      grid-gap:20px;
      grid-template-columns: 1fr;
      justify-content: center;
      &--single{
        text-align: center;
        margin: 0 auto;
    }
  }
  
} 
// footer section
.footer{
    .footer__widgets{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        text-align: center;
        .footer__widget__title{
            padding-bottom: 10px;
        }
        .footer__widget__text{
           margin-bottom: 20px; 
        }

    }
    .footer__svg{
        position: absolute;
        user-select: none;
        &--left{
            left: 0;
            top: 0;
        }
        &--right{
            right: 0;
            bottom: 0;
        }
    }
}
}
