/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    // About Section
 
    
    // Footer Section 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    // About Section
    
    
    // Footer Section 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    // About Section

 
    // Footer Section 

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    // About Section
        
    
    // Footer Section 
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    
    
    // Footer Section 
}