


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
    padding:0 20px;
}
.feature__wrapper{
  padding: 30px 10px;
  .feature__top p {
    padding: 15px;
  }
}
.partner{
  &__brands{
      display: grid;
      grid-gap:20px;
      grid-template-columns: 1fr 1fr ;
      justify-content: center;
      &--single{
        text-align: center;
        margin: 0 auto;
    }
  }
  
} 
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
    padding:0 20px;
}
.feature__wrapper{
  padding: 30px 10px;
  .feature__top p {
    padding: 15px;
  }
}
  .partner{
    &__brands{
        display: grid;
        grid-gap:20px;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        &--single{
          text-align: center;
          margin: 0 auto;
      }
    }
    
}   
}

/* Wide Mobile Layout: 480px. */

@media only screen and (max-width: 480px) {
  .container{
    max-width: 100%;
    margin: 0 auto;
    padding:0 20px;
}
.feature__wrapper{
  padding: 30px 10px;
  .feature__top p {
    padding: 15px;
  }
}
.blog {
  margin-top: -30px;
}
.blog__wrapper .blog__top p {
  padding: 20px 0;
  width: 100%;
}
.partner{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 34px;
  &__brands{
      display: grid;
      grid-gap:20px;
      grid-template-columns: 1fr;
      justify-content: center;
      &--single{
        text-align: center;
        margin: 0 auto;
    }
  }
  
}   
.blog__wrapper .blog__cards {
  grid-template-columns: 1fr;
  &--single-body{
    padding-bottom: 15px;
  }
}
.vector_img{
  display: none;
}
}
