@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.container--sm {
  max-width: 920px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a:hover, a:active {
  text-decoration: none;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

.section__title {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  clear: both;
  width: 31px;
  height: 4px;
  background: #0D90C2;
  margin-top: 5px;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 175px;
  height: 46px;
  text-align: center;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto;
}

.btn:hover {
  background-color: #000;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.header .header__top {
  background: rgba(39, 39, 39, 0.67);
}

.header .header__top .header__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header .header__top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-left ul li {
  padding-right: 36px;
}

.header .header__top-left ul li:last-child {
  padding-right: 0px;
}

.header .header__top-left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-left ul li a img {
  padding-right: 18px;
}

.header .header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon li {
  padding-right: 10px;
}

.header .header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header .header__nav-wrap .header__nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__nav-wrap .header__nav-menu ul li {
  padding-right: 20px;
}

.header .header__nav-wrap .header__nav-menu ul li:last-child {
  padding-right: 0px;
}

.hero-section {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

.hero-section .hero-section__content {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.hero-section .hero-section__content h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 80px;
  line-height: 112px;
}

.hero-section .hero-section__content h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 33px;
  line-height: 46px;
}

.hero-section .hero-section__content p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 21px;
  line-height: 29px;
}

.about-section .about-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-section .about-section__cards .about__cards-single {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-section__cards .about__cards-single-icon {
  padding-top: 45px;
}

.about-section .about-section__cards .about__cards-single-content {
  text-align: center;
  padding: 0 60px;
}

.about-section .about-section__cards .about__cards-single-content h2 {
  padding: 10px 0;
}

.about-section .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
}

.about-section .about__content-left, .about-section .about__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.about-section .about__content-left .section__title {
  color: #fff;
}

.about-section .about__content-left .section__title::after {
  background: #fff;
}

.about-section .about__content-left .about__content__description {
  padding-top: 25px;
  padding-bottom: 45px;
}

.about-section .about__content-left .about__content__description p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.about-section .about__content-left .about__content__description p:last-child {
  padding-top: 25px;
}
