@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.container-inner {
  padding: 50px 50px;
}

@media (max-width: 1024px) {
  .container-inner {
    padding: 30px 12px;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a:hover, a:active {
  text-decoration: none;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

.section__title {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  clear: both;
  width: 31px;
  height: 4px;
  background: #0D90C2;
  margin-top: 5px;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 15px 30px;
  text-align: center;
}

.btn:hover {
  background-color: #000;
}

.blog-section__title {
  padding: 30px 0;
  width: 60%;
}

@media (max-width: 768px) {
  .blog-section__title {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .blog-section__title {
    width: 100%;
  }
}

.blog-section__title p {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.blog-section .blog__cards-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .blog-section .blog__cards-wrap {
    grid-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 525px) {
  .blog-section .blog__cards-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.blog-section .blog__cards-wrap .blog__card {
  background-color: #ffffff;
}

.blog-section .blog__cards-wrap .blog__card-thumb {
  width: 100%;
  height: 150px;
}

.blog-section .blog__cards-wrap .blog__card-thumb a {
  display: block;
  width: 100%;
  height: 100%;
}

.blog-section .blog__cards-wrap .blog__card-thumb a img {
  height: 100%;
  width: 100%;
}

@media (max-width: 525px) {
  .blog-section .blog__cards-wrap .blog__card-thumb {
    height: 170px;
  }
  .blog-section .blog__cards-wrap .blog__card-thumb a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .blog-section .blog__cards-wrap .blog__card-thumb a img {
    height: 100%;
    width: 100%;
  }
}

.blog-section .blog__cards-wrap .blog__card-content {
  padding: 10px 15px;
}

.blog-section .blog__cards-wrap .blog__card-content small {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #545454;
  padding: 10px 0;
  display: block;
}

.blog-section .blog__cards-wrap .blog__card-content a h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000;
  padding: 10px 0;
}

.blog-section .blog__cards-wrap .blog__card-content p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: lowercase;
}

.blog-section .blog__cards-wrap .blog__card-content .btn-card {
  margin: 30px 0px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.header .header__top {
  background: rgba(39, 39, 39, 0.67);
}

.header .header__top .header__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 414px) {
  .header .header__top .header__top-wrap {
    display: none;
  }
}

.header .header__top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-left ul li {
  padding-right: 36px;
}

@media (max-width: 991px) {
  .header .header__top-left ul li {
    padding-right: 5px;
  }
}

.header .header__top-left ul li:last-child {
  padding-right: 0px;
}

@media (max-width: 620px) {
  .header .header__top-left ul li:last-child {
    display: none;
  }
}

@media (max-width: 525px) {
  .header .header__top-left ul li:last-child {
    display: none;
  }
}

.header .header__top-left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

@media (max-width: 400px) {
  .header .header__top-left ul li a {
    font-size: 12px;
  }
}

.header .header__top-left ul li a img {
  padding-right: 18px;
}

@media (max-width: 767px) {
  .header .header__top-left ul li a img {
    padding-right: 5px;
  }
}

.header .header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon li {
  padding-right: 10px;
}

@media (max-width: 767px) {
  .header .header__top-right .social-icon li {
    padding-right: 5px;
  }
}

@media (max-width: 620px) {
  .header .header__top-right .social-icon li :first-child {
    display: none;
  }
}

.header .header__top-right .btn-membership {
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
  color: #000;
  background: #fff;
}

@media (max-width: 480px) {
  .header .header__top-right .btn-membership {
    width: 150px;
  }
}

.header .header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  position: relative;
}

@media (max-width: 1200px) {
  .header .header__nav-wrap .header__nav-logo a img {
    width: 70%;
  }
}

.header .header__nav-wrap #navbar-icon {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 3px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.header .header__nav-wrap #navbar-icon i {
  font-size: 24px;
}

@media (max-width: 991px) {
  .header .header__nav-wrap #navbar-icon {
    display: block;
  }
}

.header .header__nav-wrap .header__nav-menu {
  display: block;
}

@media (max-width: 1024px) {
  .header .header__nav-wrap .header__nav-menu {
    display: none;
  }
}

.header .header__nav-wrap .header__nav-menu ul li {
  display: inline-block;
}

.header .header__nav-wrap .header__nav-menu ul li a {
  display: inline-block;
  margin: 5px 10px;
}

.header .header__nav-wrap .header__nav-menu ul li:last-child a {
  margin-right: 0px;
}

.header .header__nav-wrap .header__nav-menu ul li:first-child a {
  margin-left: 0px;
}

@media (max-width: 991px) {
  .header .header__nav-wrap .header__nav-menu ul {
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .header .header__nav-wrap .header__nav-menu ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  .header .header__nav-wrap .header__nav-menu ul li a {
    color: #000;
  }
  .header .header__nav-wrap .header__nav-menu ul li:first-child a {
    margin-left: 10px;
  }
  .header .header__nav-wrap .header__nav-menu ul li:last-child a {
    margin-right: 10px;
  }
}

.hero-section {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .hero-section__content {
  padding-top: 120px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.hero-section .hero-section__content h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 80px;
  line-height: 112px;
  text-align: center;
}

@media (max-width: 767px) {
  .hero-section .hero-section__content h1 {
    font-size: 64px;
  }
}

@media (max-width: 525px) {
  .hero-section .hero-section__content h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

@media (max-width: 480px) {
  .hero-section .hero-section__content h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

.hero-section .hero-section__content h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 33px;
  line-height: 46px;
  text-align: center;
}

@media (max-width: 767px) {
  .hero-section .hero-section__content h3 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .hero-section .hero-section__content h3 {
    font-size: 20px;
  }
}

.hero-section .hero-section__content p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 767px) {
  .hero-section .hero-section__content p {
    font-size: 18px;
  }
  .hero-section .hero-section__content p br {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero-section .hero-section__content p {
    font-size: 16px;
  }
}

.about-section .about-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -80px;
}

@media (max-width: 767px) {
  .about-section .about-section__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
}

.about-section .about-section__cards .about__cards-single {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
<<<<<<< HEAD
  height: 450px;
=======
  margin-top: -100px;
  height: 370px;
>>>>>>> 44b32e46ffa33b0ac0a51db53f8012fd15637168
}

@media (max-width: 767px) {
  .about-section .about-section__cards .about__cards-single {
    margin-bottom: 20px;
  }
}

.about-section .about-section__cards .about__cards-single-icon {
  padding-top: 45px;
}

.about-section .about-section__cards .about__cards-single-content {
  text-align: center;
}

.about-section .about-section__cards .about__cards-single-content h2 {
  padding: 10px 0;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.about-section .about-section__cards .about__cards-single-content p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .about-section .about-section__cards .about__cards-single-content p {
    padding: 0 20px;
  }
}

.about-section .about-section__cards .about__cards-single-content p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.about-section .about-section__cards .about__cards-single-content .btn-card {
  margin: 30px 0px;
}

.about-section .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .about-section .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-section .about__content-left, .about-section .about__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

@media (max-width: 767px) {
  .about-section .about__content-left, .about-section .about__content-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-section .about__content-left .section__title {
  color: #fff;
  padding: 10px 0;
}

.about-section .about__content-left .section__title::after {
  background: #fff;
}

.about-section .about__content-left .about__content__description {
  padding-top: 25px;
  padding-bottom: 45px;
}

.about-section .about__content-left .about__content__description p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.about-section .about__content-left .about__content__description p:last-child {
  padding-top: 25px;
}

.feature .container {
  background-color: #ffffff;
}

.feature__content {
  position: relative;
  margin-top: -54px;
}

@media (max-width: 768px) {
  .feature__content {
    padding: 25px 30px;
  }
}

@media (max-width: 912px) {
  .feature__content {
    margin-top: -35px;
  }
}

@media (max-width: 768px) {
  .feature__content {
    margin-top: 0;
  }
}

.feature__content-top {
  width: 80%;
}

@media (max-width: 912px) {
  .feature__content-top {
    width: 100%;
  }
}

.feature__content-top p {
  padding-bottom: 30px;
  padding-right: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 412px) {
  .feature__content-top p {
    padding-right: 0;
  }
}

.feature__content-list ul {
  -webkit-column-count: 2;
          column-count: 2;
}

@media (max-width: 767px) {
  .feature__content-list ul {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.feature__content-list ul li {
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 13px;
  padding: 10px 10px;
  line-height: 25px;
}

.feature__content-list ul li span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .feature__content-list ul li {
    padding: 5px 0;
    padding-right: 5px;
    left: 30px;
  }
}

.feature__content-list ul li img {
  position: absolute;
  left: -15px;
}

@media (max-width: 768px) {
  .feature__content-list ul li img {
    left: -30px;
  }
}

.partner {
  background: #fff;
}

.partner .partner__brands-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 480px) {
  .partner .partner__brands-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

.partner .partner__brands-wrap .partner__brands-item {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.partner .partner__brands-wrap .partner__brands-item a {
  display: block;
  text-align: center;
  padding: 0 10px;
}

@media (max-width: 525px) {
  .partner .partner__brands-wrap .partner__brands-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .partner .partner__brands-wrap .partner__brands-item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer {
  background: #000;
  position: relative;
  z-index: 1;
}

.footer .footer__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 75px 0;
}

.footer .footer__widgets .footer__widget-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .footer .footer__widgets .footer__widget-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media (max-width: 525px) {
  .footer .footer__widgets .footer__widget-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .footer .footer__widgets .footer__widget-item .footer__widget__title, .footer .footer__widgets .footer__widget-item .footer__widget__text {
    text-align: center;
  }
}

.footer .footer__widgets .footer__widget-item .footer__widget__title {
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 45px;
}

@media (max-width: 991px) {
  .footer .footer__widgets .footer__widget-item .footer__widget__title {
    padding-bottom: 15px;
  }
}

.footer .footer__widgets .footer__widget-item .footer__widget__text {
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: 1200px) {
  .footer .footer__widgets .footer__widget-item .footer__widget__text {
    font-size: 14px;
    list-height: 14px;
  }
}

.footer .footer__widgets .footer__widget-item .footer__widget__text p:first-child {
  padding-bottom: 10px;
}

.footer .footer__widgets .footer__widget-item .footer__widget__text form input, .footer .footer__widgets .footer__widget-item .footer__widget__text form button {
  display: block;
  width: 100%;
}

.footer .footer__widgets .footer__widget-item .footer__widget__text form input {
  padding: 15px 5px;
  text-align: center;
  margin-bottom: 10px;
}

.footer .footer__widgets .footer__widget-item .footer__widget__text form .submit-btn {
  margin: 0;
}

.footer .footer__widgets .footer__widget-item .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 525px) {
  .footer .footer__widgets .footer__widget-item .footer-social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer__widgets .footer__widget-item .footer-social ul li {
  padding-right: 25px;
}

.footer .footer__svg {
  position: absolute;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

@media (max-width: 767px) {
  .footer .footer__svg--left {
    top: 0;
  }
}

.footer .footer__svg--right {
  right: 0;
}
