@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 83.33%;
  margin: 0 auto;
  padding: 0 120px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 175px;
  height: 46px;
  text-align: center;
}

.btn:hover {
  background-color: #000;
}

.section__title h2 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
}

.section__title h2::after {
  content: "";
  display: block;
  clear: both;
  width: 30px;
  height: 4px;
  margin-top: 10px;
  background: #0D90C2;
}

.btn--card {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto;
}

.header {
  width: 100%;
  position: absolute;
}

.header .header__top__bg {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
}

.header .header__top__bg .container {
  padding: 0;
}

.header .header__top__bg .container .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__top__bg .container .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top__bg .container .header__top .header__top__left h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-right: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 19.6px;
}

.header .header__top__bg .container .header__top .header__top__left h6 img {
  padding-right: 22px;
}

.header .header__top__bg .container .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top__bg .container .header__top .header__top__right .social__icon {
  padding-right: 22px;
}

.header .header__top__bg .container .header__top .header__top__right .social__icon ul {
  list-style: none;
}

.header .header__top__bg .container .header__top .header__top__right .social__icon ul li {
  display: inline-block;
}

.header .header__top__bg .container .header__top .header__top__right .social__icon ul li a {
  text-decoration: none;
  margin-right: 11.5px;
}

.header .header__top__bg .container .header__top .header__top__right .join__membership a {
  background-color: #fff;
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #121212cc;
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}

.header .header__top__bg .container .header__top .header__top__right .join__membership a img {
  padding-right: 10px;
}

.header__navbar .container {
  padding: 0;
}

.header__navbar .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.header__navbar .container .navbar .logo .nav_icon {
  display: none;
}

.header__navbar .container .navbar .mobile_menu {
  display: none;
}

.header__navbar .container .navbar .menu {
  display: block;
}

.header__navbar .container .navbar .menu ul {
  list-style: none;
}

.header__navbar .container .navbar .menu ul li {
  display: inline-block;
}

.header__navbar .container .navbar .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.header__navbar .container .navbar .menu ul li a:last-child {
  padding-right: 0;
}

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  min-height: 1100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__section .hero__content .hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 112px;
}

.hero__section .hero__content .hero__sub__title {
  font-size: 33px;
  line-height: 46px;
  font-weight: 700;
}

.hero__section .hero__content .hero__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}

.hero__section .hero__content .hero__btn__wrapper {
  margin: 25px 0;
  text-align: center;
}

.hero__section .hero__content .hero__btn__wrapper .btn--meet-our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.about {
  background-image: url("../images/img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: 1;
}

.about .about__card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__card__wrapper .single__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 100%;
  padding: 45px 60px;
  color: #fff;
  text-align: center;
  margin-top: -60px;
  z-index: 10;
}

.about .about__card__wrapper .single__card .single__card__title {
  font-family: 'Source Code Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  margin: 10px 0px;
}

.about .about__card__wrapper .single__card .single__card__text {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}

.about .about__card__wrapper .single__card .single__card__btn .btn--card {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto;
}

.about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: -1;
}

.about .about__content--left {
  width: 48%;
}

.about .about__content--left .about__section__title h2::after {
  background: #fff;
}

.about .about__content--left .about__content__description {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 15px;
  font-size: 16px;
  line-height: 160%;
  z-index: 1;
}

.about .about__content--left .about__content__description p:first-child {
  margin-bottom: 10px;
}

.about .about__content--left .about__content__signature {
  margin-top: 46px;
}

.about .about__content--right {
  width: 48%;
}

.about .about__content--right img {
  width: 100%;
}

.feature__wrapper {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  top: -64px;
}

.feature__wrapper .feature__top p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  width: 467px;
  max-width: 100%;
  padding-bottom: 20px;
}

.feature__wrapper .feature__bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.feature__wrapper .feature__bottom ul li img {
  margin-right: 10px;
}

.blog__wrapper .blog__top p {
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  width: 360px;
  max-width: 100%;
}

.blog__wrapper .blog__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.blog__wrapper .blog__cards--single {
  height: 420px;
  background-color: #fff;
}

.blog__wrapper .blog__cards--single-img {
  width: 100%;
  height: 135.5px;
}

.blog__wrapper .blog__cards--single-img img {
  height: 100%;
  width: 100%;
}

.blog__wrapper .blog__cards--single-body {
  padding: 5px 10px 15px 20px;
}

.blog__wrapper .blog__cards--single-body small {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #545454;
}

.blog__wrapper .blog__cards--single-body h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  padding: 10px 0;
}

.blog__wrapper .blog__cards--single-body p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: lowercase;
}

.blog__wrapper .blog__cards--single-body .btn {
  margin: 20px 0;
}

.blog {
  padding-bottom: 50px;
  position: relative;
}

.blog .vector_img {
  position: absolute;
  right: 120px;
  bottom: 0;
}

.partner {
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
}

.partner__brands {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner__brands--single {
  width: 150px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
}

.partner__brands--single img {
  height: 50px;
}

.footer {
  background: #121212;
  padding-top: 75px;
  min-height: 525px;
  position: relative;
}

.footer .footer__widgets {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.footer .footer__widgets .footer__widget__title {
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 45px;
}

.footer .footer__widgets .footer__widget__text {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
}

.footer .footer__widgets .footer__widget--three .footer__widget__text .footer__form input {
  width: 100%;
  display: block;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  outline: none;
}

.footer .footer__widgets .footer__widget--four .footer__widget__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__widgets .footer__widget--four .footer__widget__text ul li {
  padding-right: 25px;
}

.footer .footer__widgets .footer__widget--four .footer__widget__text ul li:last-child {
  padding-right: 0px;
}

.footer .footer__svg {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer .footer__svg--left {
  left: 0;
  bottom: 0;
}

.footer .footer__svg--right {
  right: 0;
  bottom: 0;
}

/* Medium Layout: 1280px. */
/* Tablet Layout: 768px. */
@media only screen and (max-width: 991px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .about .about__card__wrapper .single__card {
    padding: 20px;
  }
  .about .about__content .about__content__signature {
    margin-top: 46px;
  }
  .blog {
    margin-top: -30px;
  }
  .blog__wrapper .blog__top p {
    padding: 20px 0;
    width: 100%;
  }
  .blog__wrapper .blog__cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .blog__wrapper .blog__cards--single-body {
    padding-bottom: 15px;
  }
  .feature__wrapper {
    padding: 30px 10px;
  }
  .feature__wrapper .feature__top p {
    padding: 15px;
  }
  .partner__brands {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__brands--single {
    text-align: center;
    margin: 0 auto;
  }
  .partner .footer .footer__widgets {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .partner .footer .footer__widgets .footer__widget__title {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 991px) and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .about .about__card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about__card__wrapper .single__card {
    width: 100%;
    padding: 25px 30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .about .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .about .about__content--left {
    width: 100%;
  }
  .about .about__content .about__content__signature {
    margin-top: 46px;
  }
  .about--right {
    width: 100%;
  }
  .about--right img {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .feature__wrapper {
    padding: 30px 10px;
  }
  .feature__wrapper .feature__top p {
    padding: 15px;
  }
  .blog {
    margin-top: -30px;
  }
  .blog__wrapper .blog__top p {
    padding: 20px 0;
    width: 100%;
  }
  .blog__wrapper .blog__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog__wrapper .blog__cards--single-body {
    padding-bottom: 15px;
  }
  .vector_img {
    display: none;
  }
  .partner__brands {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__brands--single {
    text-align: center;
    margin: 0 auto;
  }
  .footer {
    background: #121212;
    padding-top: 75px;
    min-height: 525px;
    position: relative;
  }
  .footer .footer__widgets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .footer .footer__widgets .footer__widget__title {
    padding-bottom: 15px;
  }
  .footer .footer__widgets .footer__widget__text {
    margin-bottom: 20px;
  }
  .footer .footer__widgets .footer__widget--three .footer__widget__text .footer__form input {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    outline: none;
  }
  .footer .footer__widgets .footer__widget--four .footer__widget__text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer__widgets .footer__widget--four .footer__widget__text ul li {
    padding-right: 25px;
  }
  .footer .footer__widgets .footer__widget--four .footer__widget__text ul li:last-child {
    padding-right: 0px;
  }
  .footer .footer__svg {
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .footer .footer__svg--left {
    left: 0;
    bottom: 0;
  }
  .footer .footer__svg--right {
    right: 0;
    bottom: 0;
  }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .about .about__card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about__card__wrapper .single__card {
    width: 100%;
    padding: 5px 10px;
    margin-top: 0px;
  }
  .about .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .about__content--left {
    width: 100%;
  }
  .about .about__content--left .about__section__title h2::after {
    background: #fff;
  }
  .about .about__content--left .about__content__signature {
    margin-top: 46px;
  }
  .about .about__content--right {
    width: 100%;
  }
  .feature__wrapper {
    padding: 30px 10px;
  }
  .feature__wrapper .feature__top p {
    padding: 15px;
  }
  .blog {
    margin-top: -30px;
  }
  .blog__wrapper .blog__top p {
    padding: 20px 0;
    width: 100%;
  }
  .blog__wrapper .blog__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog__wrapper .blog__cards--single-body {
    padding-bottom: 15px;
  }
  .vector_img {
    display: none;
  }
  .partner {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 34px;
  }
  .partner__brands {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__brands--single {
    text-align: center;
    margin: 0 auto;
  }
  .footer .footer__widgets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }
  .footer .footer__widgets .footer__widget__title {
    padding-bottom: 10px;
  }
  .footer .footer__widgets .footer__widget__text {
    margin-bottom: 20px;
  }
  .footer .footer__widgets .footer__widget--four .footer__widget__text ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__svg {
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .footer .footer__svg--left {
    left: 0;
    top: 0;
  }
  .footer .footer__svg--right {
    right: 0;
    bottom: 0;
  }
}
