@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.container--sm {
  max-width: 920px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: none;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 175px;
  height: 46px;
  text-align: center;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto;
}

.btn:hover {
  background-color: #000;
}
