@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 83.33%;
  margin: 0 auto;
  padding: 0 120px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn:hover {
  background-color: #000;
}

.header__top__bg {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
}

.header__top__bg .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__bg .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__left h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-right: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 19.6px;
}

.header__top__bg .header__top .header__top__left h6 img {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__right .social__icon {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right .social__icon ul {
  list-style: none;
}

.header__top__bg .header__top .header__top__right .social__icon ul li {
  display: inline-block;
}

.header__top__bg .header__top .header__top__right .social__icon ul li a {
  text-decoration: none;
  margin-right: 11.5px;
}

.header__top__bg .header__top .header__top__right .join__membership {
  background-color: #fff;
  padding: 15px;
}

.header__top__bg .header__top .header__top__right .join__membership a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #121212cc;
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}

.header__top__bg .header__top .header__top__right .join__membership a img {
  padding-right: 10px;
}

.header__navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.header__navbar .navbar .logo .nav_icon {
  display: none;
}

.header__navbar .navbar .mobile_menu {
  display: none;
}

.header__navbar .navbar .menu {
  display: block;
}

.header__navbar .navbar .menu ul {
  list-style: none;
}

.header__navbar .navbar .menu ul li {
  display: inline-block;
}

.header__navbar .navbar .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.header__navbar .navbar .menu ul li a:last-child {
  padding-right: 0;
}

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__section__content {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__section__content .hero__content .hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 112px;
}

.hero__section__content .hero__content .hero__sub__title {
  font-size: 33px;
  line-height: 46px;
  font-weight: 700;
}

.hero__section__content .hero__content .hero__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}

.hero__section__content .hero__content .hero__btn__wrapper {
  margin: 25px 0;
}

.hero__section__content .hero__content .hero__btn__wrapper .btn--meet-our-team {
  padding: 17px 46px;
}

.about__section {
  background-image: url("../images/img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: 1;
}

.about__section .ad__card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__section .ad__card__section .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 10px;
  height: 400px;
  padding: 60px;
  color: #fff;
  text-align: center;
  margin-top: -60px;
  z-index: 10;
}

.about__section .ad__card__section .card .card__title {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 10px;
}

.about__section .ad__card__section .card .card__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.about__section .ad__card__section .card .btn--card {
  padding: 17px 66px;
  margin-top: 25px;
}

.about__section .ad__card__section .card--one {
  background-image: url("../images/img/membership-bg.png");
  z-index: 10;
}

.about__section .ad__card__section .card--two {
  background-image: url("../images/img/working-space-bg.png");
  z-index: 10;
}

.about__section .about__section__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: -1;
}

.about__section .about__section__details--left {
  max-width: 460px;
}

.about__section .about__section__details--left .section__title {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}

.about__section .about__section__details--left .section__title h2 {
  padding-bottom: 10px;
}

.about__section .about__section__details--left .section__title h2::after {
  content: "";
  display: block;
  clear: both;
  width: 30px;
  height: 4px;
  margin-top: 10px;
  background: #fff;
}

.about__section .about__section__details--left .section__description {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  z-index: 1;
}

.about__section .about__section__details--left .section__description--one {
  margin-bottom: 25px;
}

.about__section .about__section__details--left .section__description--two {
  margin-bottom: 45px;
}

.about__section .about__section__details--right {
  max-width: 460px;
}

.about__section .about__section__details--right img {
  width: 100%;
}

.partner__section {
  padding: 100px 0;
}

.partner__section .partner__section__content {
  padding: 0 120px;
  overflow: hidden;
}

.partner__section .partner__section__content .section__title {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

.partner__section .partner__section__content .section__title::after {
  content: "";
  display: block;
  clear: both;
  width: 30px;
  height: 4px;
  margin-top: 10px;
  background: #0D90C2;
}

.partner__section .partner__section__content .partner__brand__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0px;
}

.partner__section .partner__section__content .partner__brand__images div {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer__section {
  background: #121212;
  padding-top: 75px;
  min-height: 525px;
  position: relative;
}

.footer__section .footer__widget {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__section .footer__widget .footer__widget__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 45px;
}

.footer__section .footer__widget .footer__widget__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
}

.footer__section .footer__widget--three .footer__widget__text .footer__form input, .footer__section .footer__widget--three .footer__widget__text .footer__form button {
  width: 100%;
  display: block;
  padding: 12px 20px;
  margin-top: 20px;
}

.footer__section .footer__widget--three .footer__widget__text .footer__form button {
  cursor: pointer;
}

.footer__section .footer__widget--four .footer__widget__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__section .footer__widget--four .footer__widget__text ul li {
  padding-right: 25px;
}

.footer__section .footer__left__svg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__section .footer__right__svg {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
