@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.header__top__bg {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
}

.header__top__bg .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__bg .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__left h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-right: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 19.6px;
}

.header__top__bg .header__top .header__top__left h6 img {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__right .social__icon {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right .social__icon ul {
  list-style: none;
}

.header__top__bg .header__top .header__top__right .social__icon ul li {
  display: inline-block;
}

.header__top__bg .header__top .header__top__right .social__icon ul li a {
  text-decoration: none;
  margin-right: 11.5px;
}

.header__top__bg .header__top .header__top__right .join__membership {
  background-color: #fff;
  padding: 15px;
}

.header__top__bg .header__top .header__top__right .join__membership a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #121212cc;
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}

.header__top__bg .header__top .header__top__right .join__membership a img {
  padding-right: 10px;
}

.header__navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.header__navbar .navbar .menu ul {
  list-style: none;
}

.header__navbar .navbar .menu ul li {
  display: inline-block;
}

.header__navbar .navbar .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.header__navbar .navbar .menu ul li a:first-child {
  font-weight: 600;
}

.header__navbar .navbar .menu ul li a:last-child {
  padding-right: 0;
}

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__section__content {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__section__content .hero__content .hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 112px;
}

.hero__section__content .hero__content .hero__sub__title {
  font-size: 33px;
  line-height: 46px;
  font-weight: 700;
}

.hero__section__content .hero__content .hero__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}

.hero__section__content .hero__content .hero__btn__wrapper {
  margin: 25px 0;
}

.hero__section__content .hero__content .hero__btn__wrapper .custom__btn {
  text-decoration: none;
  display: inline-block;
  padding: 17px 46px;
  background-color: #0d90c2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.about__section {
  background-image: url(../../images/img/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.about__section .ad__card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__section .ad__card__section .card {
  max-width: 460px;
  height: 400px;
}

.about__section .ad__card__section .card--one {
  background-image: url(../../images/img/membership-bg.png);
}
