@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans&family=Roboto&family=Source+Code+Pro&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.container-inner {
  padding: 50px 50px;
}

@media (max-width: 1024px) {
  .container-inner {
    padding: 30px 12px;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a:hover, a:active {
  text-decoration: none;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

.section__title {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  clear: both;
  width: 31px;
  height: 4px;
  background: #0D90C2;
  margin-top: 5px;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 175px;
  height: 46px;
  text-align: center;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto;
}

.btn:hover {
  background-color: #000;
}

.blog-section__title {
  padding: 30px 0;
  width: 60%;
}

@media (max-width: 768px) {
  .blog-section__title {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .blog-section__title {
    width: 100%;
  }
}

.blog-section__title p {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.blog-section .blog__cards-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .blog-section .blog__cards-wrap {
    grid-gap: 15px;
  }
}

@media (max-width: 540px) {
  .blog-section .blog__cards-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (max-width: 539px) {
  .blog-section .blog__cards-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.blog-section .blog__cards-wrap .blog__card {
  background-color: #ffffff;
}

.blog-section .blog__cards-wrap .blog__card-thumb {
  width: 100%;
  height: 150px;
}

.blog-section .blog__cards-wrap .blog__card-thumb a {
  width: 100%;
  height: 100%;
}

.blog-section .blog__cards-wrap .blog__card-thumb a img {
  height: 100%;
  width: 100%;
}

.blog-section .blog__cards-wrap .blog__card-content {
  padding: 10px 15px;
}

.blog-section .blog__cards-wrap .blog__card-content small {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #545454;
  padding: 10px 0;
}

.blog-section .blog__cards-wrap .blog__card-content a h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000;
  padding: 10px 0;
}

.blog-section .blog__cards-wrap .blog__card-content p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: lowercase;
}

.banner-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.header .header__top {
  background: rgba(39, 39, 39, 0.67);
}

@media (max-width: 575px) {
  .header .header__top {
    display: none;
  }
}

.header .header__top .header__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .header .header__top .header__top-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .header__top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-left ul li {
  padding-right: 36px;
}

.header .header__top-left ul li:last-child {
  padding-right: 0px;
}

.header .header__top-left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-left ul li a img {
  padding-right: 18px;
}

.header .header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__top-right .social-icon li {
  padding-right: 10px;
}

.header .header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  position: relative;
}

.header .header__nav-wrap #navbar-icon {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 2px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

@media (max-width: 991px) {
  .header .header__nav-wrap #navbar-icon {
    display: block;
  }
}

.header .header__nav-wrap .header__nav-menu {
  display: block;
}

@media (max-width: 991px) {
  .header .header__nav-wrap .header__nav-menu {
    display: none;
  }
}

.header .header__nav-wrap .header__nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .header .header__nav-wrap .header__nav-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 0;
    right: 0;
  }
  .header .header__nav-wrap .header__nav-menu ul li {
    padding: 10px 0;
    text-align: center;
  }
  .header .header__nav-wrap .header__nav-menu ul li a {
    color: #000;
  }
}

.header .header__nav-wrap .header__nav-menu ul li {
  padding-right: 20px;
}

.header .header__nav-wrap .header__nav-menu ul li:last-child {
  padding-right: 0px;
}

.hero-section {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .hero-section__content {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.hero-section .hero-section__content h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 80px;
  line-height: 112px;
}

.hero-section .hero-section__content h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 33px;
  line-height: 46px;
}

.hero-section .hero-section__content p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 21px;
  line-height: 29px;
}

.about-section .about-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .about-section .about-section__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-section .about-section__cards .about__cards-single {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -60px;
}

@media (max-width: 767px) {
  .about-section .about-section__cards .about__cards-single {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.about-section .about-section__cards .about__cards-single-icon {
  padding-top: 45px;
}

.about-section .about-section__cards .about__cards-single-content {
  text-align: center;
  padding: 0 60px;
}

@media (max-width: 991px) {
  .about-section .about-section__cards .about__cards-single-content {
    padding: 0 10px;
  }
}

.about-section .about-section__cards .about__cards-single-content h2 {
  padding: 10px 0;
}

.about-section .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .about-section .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-section .about__content-left, .about-section .about__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

@media (max-width: 767px) {
  .about-section .about__content-left, .about-section .about__content-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-section .about__content-left .section__title {
  color: #fff;
}

.about-section .about__content-left .section__title::after {
  background: #fff;
}

.about-section .about__content-left .about__content__description {
  padding-top: 25px;
  padding-bottom: 45px;
}

.about-section .about__content-left .about__content__description p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.about-section .about__content-left .about__content__description p:last-child {
  padding-top: 25px;
}

.feature .container {
  background-color: #ffffff;
}

.feature__content {
  position: relative;
  margin-top: -54px;
}

@media (max-width: 768px) {
  .feature__content {
    padding: 25px 30px;
  }
}

@media (max-width: 912px) {
  .feature__content {
    margin-top: -35px;
  }
}

@media (max-width: 768px) {
  .feature__content {
    margin-top: 0;
  }
}

.feature__content-top {
  width: 80%;
}

@media (max-width: 912px) {
  .feature__content-top {
    width: 100%;
  }
}

.feature__content-top p {
  padding-bottom: 30px;
  padding-right: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 412px) {
  .feature__content-top p {
    padding-right: 0;
  }
}

.feature__content-list ul {
  -webkit-column-count: 2;
          column-count: 2;
}

@media (max-width: 767px) {
  .feature__content-list ul {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.feature__content-list ul li {
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 13px;
  padding: 10px 10px;
  line-height: 25px;
}

.feature__content-list ul li span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .feature__content-list ul li {
    padding: 5px 0;
    left: 30px;
  }
}

.feature__content-list ul li img {
  position: absolute;
  left: -15px;
}

@media (max-width: 768px) {
  .feature__content-list ul li img {
    left: -30px;
  }
}
