*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.header__top {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
}

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature_section {
  background-color: #F5F5F5;
}

.feature__content {
  padding: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__content--left, .feature__content--right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 10px 50px;
}
