@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn {
  background-color: #0D90C2;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.header__top__bg {
  background: rgba(39, 39, 39, 0.67);
  width: 100%;
}

.header__top__bg .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__bg .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__left h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-right: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 19.6px;
}

.header__top__bg .header__top .header__top__left h6 img {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__bg .header__top .header__top__right .social__icon {
  padding-right: 22px;
}

.header__top__bg .header__top .header__top__right .social__icon ul {
  list-style: none;
}

.header__top__bg .header__top .header__top__right .social__icon ul li {
  display: inline-block;
}

.header__top__bg .header__top .header__top__right .social__icon ul li a {
  text-decoration: none;
  margin-right: 11.5px;
}

.header__top__bg .header__top .header__top__right .join__membership {
  background-color: #fff;
  padding: 15px;
}

.header__top__bg .header__top .header__top__right .join__membership a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #121212cc;
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}

.header__top__bg .header__top .header__top__right .join__membership a img {
  padding-right: 10px;
}

.header__navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.header__navbar .navbar .menu ul {
  list-style: none;
}

.header__navbar .navbar .menu ul li {
  display: inline-block;
}

.header__navbar .navbar .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.header__navbar .navbar .menu ul li a:first-child {
  font-weight: 600;
}

.header__navbar .navbar .menu ul li a:last-child {
  padding-right: 0;
}

.hero__section {
  background-image: url(../images/img/Banner-bg.png);
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__section__content {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__section__content .hero__content .hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 112px;
}

.hero__section__content .hero__content .hero__sub__title {
  font-size: 33px;
  line-height: 46px;
  font-weight: 700;
}

.hero__section__content .hero__content .hero__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}

.hero__section__content .hero__content .hero__btn__wrapper {
  margin: 25px 0;
}

.hero__section__content .hero__content .hero__btn__wrapper .btn--meet-our-team {
  padding: 17px 46px;
}

.about__section {
  background-image: url("../images/img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.about__section .ad__card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__section .ad__card__section .card {
  max-width: 460px;
  height: 400px;
  padding: 60px;
  color: #fff;
  text-align: center;
  margin-top: -60px;
  z-index: 1000;
}

.about__section .ad__card__section .card .card__title {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 10px;
}

.about__section .ad__card__section .card .card__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.about__section .ad__card__section .card .btn--card {
  padding: 17px 66px;
  margin-top: 25px;
}

.about__section .ad__card__section .card--one {
  background-image: url("../images/img/membership-bg.png");
  z-index: 1000;
}

.about__section .ad__card__section .card--two {
  background-image: url("../images/img/working-space-bg.png");
  z-index: 1000;
}

.about__section .about__section__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.about__section .about__section__details--left {
  max-width: 460px;
}

.about__section .about__section__details--left .section__title {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 25px;
}

.about__section .about__section__details--left .section__title h2 {
  padding-bottom: 5px;
}

.about__section .about__section__details--left .section__title h2::after {
  content: "";
  display: block;
  clear: both;
  width: 30px;
  height: 4px;
  background: #fff;
}

.about__section .about__section__details--left .section__description {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.about__section .about__section__details--left .section__description--one {
  margin-bottom: 25px;
}

.about__section .about__section__details--left .section__description--two {
  margin-bottom: 45px;
}

.about__section .about__section__details--right {
  max-width: 460px;
}
